.tile-bin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pub-content {
    border: 1px solid grey;
    max-width: 8.5in;
    margin: 0px auto;
    box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.75);
}

.tile {
    padding: 10px;
}

.tile-html {
    font-family: sans-serif;
}

@media print {
    .pub-content {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 999999;
        border: 0px;
        box-shadow: none;
    }

    .btn-group, .footer {
        display: none;
    }
}