/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tile-bin {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    margin: 10mm 10mm 10mm 10mm;
}

.pub-content {
    border: 1px solid grey;
    margin: 0px auto;
    box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.75);
    margin-bottom: 20px;
    overflow: auto;
}

.page-safe-line div {
    display: none;
    background-color: grey;
    position: relative;
}

.page-safe-line .bottom {
    height: 1px;
    left: 0;
    right: 0;
}

.tile {
    margin: 5px;
    overflow-x: auto;
}

.tile-html {
    min-height: 10px;
}

.tile-html img {
    max-width: 100%;
}

@media print {
    @page {
        margin: 10mm 10mm 10mm 10mm;
    }
    .tile-bin {
        margin: 0px;
        overflow: visible;
    }
    .pub-content {
        z-index: 999999;
        border: 0px;
        box-shadow: none;
        overflow: visible;
    }

    .btn-group, .footer {
        display: none;
    }

    .page-safe-line {
        display: none;
    }
}