/*
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/
.theme_bin {
    max-height: 300px;
    overflow-y: scroll;
    padding: 5px;
}

.theme_bin label input[type=radio] {
    visibility: hidden;
    position: absolute;
}

.theme_bin label input[type=radio] + .theme {
    cursor: pointer;
    border: 3px solid white;
    margin: 2px;
}

.theme_bin label input[type=radio]:checked + .theme {
    border: 3px solid rgba(0,0,0,.8);
}

.theme_bin label .theme .theme_colors {
    width: 100%;
    min-width: 5rem;
    height: 2rem;
}

.theme_bin label .theme .theme_img {
    width: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: .05rem;
    margin-bottom: .05rem;
    max-height: 1.9rem;
    display: inline;
    position: absolute;
    padding: 0px;
}