.tile-html h1,h2,h3,h4,h5,h6 {
    color: var(--headings);
}

.tile-html blockquote {
    background-color: var(--light-alpha);
    border-left: 3px solid var(--secondary);
    padding: 5px 10px;
    display: inline-block;
}

.tile-html pre {
    background-color: var(--light-alpha);
    border: 1px solid var(--secondary);
    border-left: 3px solid var(--secondary);
    padding: 5px 10px;
    display: inline-block;
}