.tile blockquote {
    background-color: var(--light-alpha);
    border-left: 3px solid var(--secondary);
    padding: 5px 10px;
    display: inline-block;
}

.tile pre {
    background-color: var(--light-alpha);
    border: 1px solid var(--secondary);
    border-left: 3px solid var(--secondary);
    padding: 5px 10px;
    display: inline-block;
}